canvas{
    margin: 0;
    background-image: url(./background2.png);
    background-size: cover;
}

.hidden {
    display: none;
}

#start-div{
    background-image: url(./background2.png);
    background-size: cover;
}

h1{
    text-align: center;
    font-size: 80px;
}
#start-button{
    margin-top: 500px;
    margin-left: 900px;
    height: 50px;
    width: 100px;
    border: 5px solid green;
}